{% extends 'basic.html' %}
{%block title%}SignUp{%endblock%}
{% block css %}
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'poppins', sans-serif;
    }

    .navbar-default.navbar-trans,
    .navbar-default.navbar-reduce {
        display: none;
    }

    .navcat {
        display: none;
    }

    .pass_send {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 100vh;
        text-align: center;
    }
</style>


{% endblock %}

{%block body%}

<section class="pass_reset_send">
    <div class="pass_send">
        <h1 style="text-transform: capitalize;">Password<br>Changes Successfully<br> Your Password has been set. You may
            go ahead and login.
        </h1><br>

        <li>Login <a href="{% url 'Login' %}"> Click Here </a> </li>
    </div>
</section>

{%endblock%}